USE [master]
GO
/****** Object:  Database [DbMvcKampProjesi]    Script Date: 29.12.2022 01:42:39 ******/
CREATE DATABASE [DbMvcKampProjesi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbMvcKampProjesi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DbMvcKampProjesi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbMvcKampProjesi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DbMvcKampProjesi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbMvcKampProjesi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbMvcKampProjesi]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 29.12.2022 01:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Abouts]    Script Date: 29.12.2022 01:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Abouts](
	[AboutID] [int] IDENTITY(1,1) NOT NULL,
	[AboutDetails1] [nvarchar](500) NULL,
	[AboutDetails2] [nvarchar](500) NULL,
	[AboutImage1] [nvarchar](120) NULL,
	[AboutImage2] [nvarchar](120) NULL,
	[AboutStatus] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Abouts] PRIMARY KEY CLUSTERED 
(
	[AboutID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 29.12.2022 01:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[AdminUserName] [nvarchar](50) NULL,
	[AdminPassword] [nvarchar](50) NULL,
	[AdminRole] [nvarchar](1) NULL,
	[Role_RoleId] [int] NULL,
 CONSTRAINT [PK_dbo.Admins] PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 29.12.2022 01:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NULL,
	[CategoryDescription] [nvarchar](200) NULL,
	[CategoryStatus] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 29.12.2022 01:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[ContactId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[UserMail] [nvarchar](50) NULL,
	[Subject] [nvarchar](50) NULL,
	[Message] [nvarchar](max) NULL,
	[ContactDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Contacts] PRIMARY KEY CLUSTERED 
(
	[ContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contents]    Script Date: 29.12.2022 01:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contents](
	[ContentId] [int] IDENTITY(1,1) NOT NULL,
	[ContentValue] [nvarchar](1000) NULL,
	[ContentDate] [datetime] NOT NULL,
	[HeadingId] [int] NOT NULL,
	[WriterId] [int] NULL,
	[ContentStatus] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Contents] PRIMARY KEY CLUSTERED 
(
	[ContentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Headings]    Script Date: 29.12.2022 01:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Headings](
	[HeadingId] [int] IDENTITY(1,1) NOT NULL,
	[HeadingName] [nvarchar](50) NULL,
	[HeadingDate] [datetime] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[WriterId] [int] NOT NULL,
	[HeadingStatus] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Headings] PRIMARY KEY CLUSTERED 
(
	[HeadingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImageFiles]    Script Date: 29.12.2022 01:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageFiles](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[ImageName] [nvarchar](100) NULL,
	[ImagePath] [nvarchar](500) NULL,
 CONSTRAINT [PK_dbo.ImageFiles] PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 29.12.2022 01:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[MessageID] [int] IDENTITY(1,1) NOT NULL,
	[SenderMail] [nvarchar](50) NULL,
	[ReceiverMail] [nvarchar](50) NULL,
	[Subject] [nvarchar](200) NULL,
	[MessageContent] [nvarchar](max) NULL,
	[MessageDate] [datetime] NOT NULL,
	[MessageRead] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Messages] PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MySkills]    Script Date: 29.12.2022 01:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MySkills](
	[SkillID] [int] IDENTITY(1,1) NOT NULL,
	[NameSurname] [nvarchar](max) NULL,
	[Tittle] [nvarchar](max) NULL,
	[SkillName] [nvarchar](max) NULL,
	[SkillLevel] [int] NOT NULL,
 CONSTRAINT [PK_dbo.MySkills] PRIMARY KEY CLUSTERED 
(
	[SkillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 29.12.2022 01:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](1) NULL,
	[Description] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Writers]    Script Date: 29.12.2022 01:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Writers](
	[WriterId] [int] IDENTITY(1,1) NOT NULL,
	[WriterName] [nvarchar](25) NULL,
	[WriterSurName] [nvarchar](25) NULL,
	[WriterImage] [nvarchar](350) NULL,
	[WriterMail] [nvarchar](250) NULL,
	[WriterPassword] [nvarchar](205) NULL,
	[WriterAbout] [nvarchar](105) NULL,
	[WriterTitle] [nvarchar](50) NULL,
	[WriterStatus] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Writers] PRIMARY KEY CLUSTERED 
(
	[WriterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Abouts] ON 

INSERT [dbo].[Abouts] ([AboutID], [AboutDetails1], [AboutDetails2], [AboutImage1], [AboutImage2], [AboutStatus]) VALUES (1, N'Deneme', N'test', N'görsel1', N'görsel2', 0)
INSERT [dbo].[Abouts] ([AboutID], [AboutDetails1], [AboutDetails2], [AboutImage1], [AboutImage2], [AboutStatus]) VALUES (2, N'a', N'b', N'c', N'd', 0)
INSERT [dbo].[Abouts] ([AboutID], [AboutDetails1], [AboutDetails2], [AboutImage1], [AboutImage2], [AboutStatus]) VALUES (3, N'r', N't', N'h', N'k', 0)
SET IDENTITY_INSERT [dbo].[Abouts] OFF
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([AdminID], [AdminUserName], [AdminPassword], [AdminRole], [Role_RoleId]) VALUES (1, N'admin', N'admin', N'A', NULL)
INSERT [dbo].[Admins] ([AdminID], [AdminUserName], [AdminPassword], [AdminRole], [Role_RoleId]) VALUES (2, N'admin@gmail.com', N'001', N'B', NULL)
INSERT [dbo].[Admins] ([AdminID], [AdminUserName], [AdminPassword], [AdminRole], [Role_RoleId]) VALUES (3, N'ozhan', N'123', N'C', NULL)
SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [CategoryDescription], [CategoryStatus]) VALUES (1, N'Eğitim', N'Eğitim kategorisidir.', 1)
INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [CategoryDescription], [CategoryStatus]) VALUES (2, N'Tiyatro', N'Burası tiyatro kategorisidir.', 1)
INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [CategoryDescription], [CategoryStatus]) VALUES (3, N'Kitap', NULL, 1)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Contacts] ON 

INSERT [dbo].[Contacts] ([ContactId], [UserName], [UserMail], [Subject], [Message], [ContactDate]) VALUES (1, N'Ali Yıldız', N'alıyıldız@gmail.com', N'Tesekkur', N'Tiyatro için yorumları gördüm her ikiside muhteşemdi', CAST(N'2022-05-06T00:00:00.000' AS DateTime))
INSERT [dbo].[Contacts] ([ContactId], [UserName], [UserMail], [Subject], [Message], [ContactDate]) VALUES (2, N'Ayşe Çınar', N'ayse@gmail.com', N'Rica', N'Merhaba yazılıma nereden başlmalaıyım ile ilgili tüm içerikleri okudum rica etsem 4 numaralı içerikteki yazarın mail adresini gönderir misiniz? Kendisine bir soru soracağım.', CAST(N'2022-03-03T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Contacts] OFF
GO
SET IDENTITY_INSERT [dbo].[Contents] ON 

INSERT [dbo].[Contents] ([ContentId], [ContentValue], [ContentDate], [HeadingId], [WriterId], [ContentStatus]) VALUES (1, N'Walter White''ın efsane yaşam öyküsü.', CAST(N'2022-04-17T00:00:00.000' AS DateTime), 1, 3, 1)
INSERT [dbo].[Contents] ([ContentId], [ContentValue], [ContentDate], [HeadingId], [WriterId], [ContentStatus]) VALUES (2, N'Küçük Walter seni çok özledik keşke devam etse', CAST(N'2020-02-10T00:00:00.000' AS DateTime), 1, 4, 1)
INSERT [dbo].[Contents] ([ContentId], [ContentValue], [ContentDate], [HeadingId], [WriterId], [ContentStatus]) VALUES (3, N'Bu film 2019 yılında Oscar ödülüne aday oldu ve Oscar ödülünü almayı başardı.', CAST(N'2020-10-10T00:00:00.000' AS DateTime), 2, 1, 1)
SET IDENTITY_INSERT [dbo].[Contents] OFF
GO
SET IDENTITY_INSERT [dbo].[Headings] ON 

INSERT [dbo].[Headings] ([HeadingId], [HeadingName], [HeadingDate], [CategoryId], [WriterId], [HeadingStatus]) VALUES (1, N'Breaking Bad', CAST(N'2011-04-17T00:00:00.000' AS DateTime), 6, 3, 0)
INSERT [dbo].[Headings] ([HeadingId], [HeadingName], [HeadingDate], [CategoryId], [WriterId], [HeadingStatus]) VALUES (2, N'Green Book', CAST(N'2020-04-17T00:00:00.000' AS DateTime), 5, 1, 1)
INSERT [dbo].[Headings] ([HeadingId], [HeadingName], [HeadingDate], [CategoryId], [WriterId], [HeadingStatus]) VALUES (3, N'İtiraflarım', CAST(N'2018-02-20T00:00:00.000' AS DateTime), 3, 1, 1)
SET IDENTITY_INSERT [dbo].[Headings] OFF
GO
SET IDENTITY_INSERT [dbo].[ImageFiles] ON 

INSERT [dbo].[ImageFiles] ([ImageID], [ImageName], [ImagePath]) VALUES (1, N'Paris', N'/AdminLTE-3.0.4/images/paris.jpg')
INSERT [dbo].[ImageFiles] ([ImageID], [ImageName], [ImagePath]) VALUES (2, N'Rio', N'/AdminLTE-3.0.4/images/rio.jpg')
INSERT [dbo].[ImageFiles] ([ImageID], [ImageName], [ImagePath]) VALUES (3, N'Katar', N'/AdminLTE-3.0.4/images/katar.jpg')
SET IDENTITY_INSERT [dbo].[ImageFiles] OFF
GO
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([MessageID], [SenderMail], [ReceiverMail], [Subject], [MessageContent], [MessageDate], [MessageRead]) VALUES (1, N'aliyıldız@gmail.com', N'admin@gmail.com', N'Deneme', N'Merhaba bu bir test mesajıdır.', CAST(N'2021-06-01T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[Messages] ([MessageID], [SenderMail], [ReceiverMail], [Subject], [MessageContent], [MessageDate], [MessageRead]) VALUES (5, N'aliyıldız@gmail.com', N'emelozturk@gmail.com', N'Soru', N'C# da takıldıgım bir konuda yardımcı olur musun. Başlıkta yazdıgın mesajı gördüm çok beğendim.', CAST(N'2021-03-02T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[Messages] ([MessageID], [SenderMail], [ReceiverMail], [Subject], [MessageContent], [MessageDate], [MessageRead]) VALUES (6, N'gzmyıldız@gmail.com', N'admin@gmail.com', N'Şifre Değişkiliği', N'Merhaba admin şifreyi değiştirmek istediğim zaman hata alıyorum yardımcı olurmusunuz.', CAST(N'2021-03-02T00:00:00.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Messages] OFF
GO
SET IDENTITY_INSERT [dbo].[MySkills] ON 

INSERT [dbo].[MySkills] ([SkillID], [NameSurname], [Tittle], [SkillName], [SkillLevel]) VALUES (1, N'Özhan Aloğlu', N'Software Developer', N'C#', 75)
INSERT [dbo].[MySkills] ([SkillID], [NameSurname], [Tittle], [SkillName], [SkillLevel]) VALUES (8, N'Özhan Aloğlu', N'Software Developer', N'Sql', 65)
INSERT [dbo].[MySkills] ([SkillID], [NameSurname], [Tittle], [SkillName], [SkillLevel]) VALUES (10, N'Özhan Aloğlu', N'Software Developer', N'ASP.NET', 70)
SET IDENTITY_INSERT [dbo].[MySkills] OFF
GO
SET IDENTITY_INSERT [dbo].[Writers] ON 

INSERT [dbo].[Writers] ([WriterId], [WriterName], [WriterSurName], [WriterImage], [WriterMail], [WriterPassword], [WriterAbout], [WriterTitle], [WriterStatus]) VALUES (1, N'Ahmet', N'Yıldız', N'https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/26592/face-man-clipart-xl.png', N'aliyıldız@gmail.com', N'1', N'Yazılım Mühendisi.Frontend developer ', N'Kıdemli Geliştirici', 1)
INSERT [dbo].[Writers] ([WriterId], [WriterName], [WriterSurName], [WriterImage], [WriterMail], [WriterPassword], [WriterAbout], [WriterTitle], [WriterStatus]) VALUES (2, N'Mehmet', N'Çınar', N'https://media.istockphoto.com/id/980239992/vector/happy-handsome-man-showing-thumbs-up-concept-illustration-in-cartoon-style.jpg?s=612x612&w=0&k=20&c=1ikVDLkafPxGOLqq4gtIs4HQFBQpdjuiaSchIoqW_M4=', N'mehmet@gmail.com', N'1', N'Senior Software Developer', N'Yazılım Mühendisi', 1)
INSERT [dbo].[Writers] ([WriterId], [WriterName], [WriterSurName], [WriterImage], [WriterMail], [WriterPassword], [WriterAbout], [WriterTitle], [WriterStatus]) VALUES (3, N'Emel', N'Öztürk', N'https://thumbs.dreamstime.com/b/okay-happy-woman-wearing-casual-clothes-showing-sign-hand-isolated-white-background-67912497.jpg', N'emelozturk@gmail.com', N'123', N'Tiyatro, filtre kahve.', N'Tur Rehberi', 1)
SET IDENTITY_INSERT [dbo].[Writers] OFF
GO
/****** Object:  Index [IX_Role_RoleId]    Script Date: 29.12.2022 01:42:40 ******/
CREATE NONCLUSTERED INDEX [IX_Role_RoleId] ON [dbo].[Admins]
(
	[Role_RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HeadingId]    Script Date: 29.12.2022 01:42:40 ******/
CREATE NONCLUSTERED INDEX [IX_HeadingId] ON [dbo].[Contents]
(
	[HeadingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WriterId]    Script Date: 29.12.2022 01:42:40 ******/
CREATE NONCLUSTERED INDEX [IX_WriterId] ON [dbo].[Contents]
(
	[WriterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryId]    Script Date: 29.12.2022 01:42:40 ******/
CREATE NONCLUSTERED INDEX [IX_CategoryId] ON [dbo].[Headings]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WriterId]    Script Date: 29.12.2022 01:42:40 ******/
CREATE NONCLUSTERED INDEX [IX_WriterId] ON [dbo].[Headings]
(
	[WriterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Abouts] ADD  DEFAULT ((0)) FOR [AboutStatus]
GO
ALTER TABLE [dbo].[Contacts] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [ContactDate]
GO
ALTER TABLE [dbo].[Contents] ADD  DEFAULT ((0)) FOR [ContentStatus]
GO
ALTER TABLE [dbo].[Headings] ADD  DEFAULT ((0)) FOR [HeadingStatus]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT ((0)) FOR [MessageRead]
GO
ALTER TABLE [dbo].[Writers] ADD  DEFAULT ((0)) FOR [WriterStatus]
GO
ALTER TABLE [dbo].[Admins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Admins_dbo.Roles_Role_RoleId] FOREIGN KEY([Role_RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[Admins] CHECK CONSTRAINT [FK_dbo.Admins_dbo.Roles_Role_RoleId]
GO
ALTER TABLE [dbo].[Contents]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Contents_dbo.Headings_HeadingId] FOREIGN KEY([HeadingId])
REFERENCES [dbo].[Headings] ([HeadingId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Contents] CHECK CONSTRAINT [FK_dbo.Contents_dbo.Headings_HeadingId]
GO
ALTER TABLE [dbo].[Contents]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Contents_dbo.Writers_WriterId] FOREIGN KEY([WriterId])
REFERENCES [dbo].[Writers] ([WriterId])
GO
ALTER TABLE [dbo].[Contents] CHECK CONSTRAINT [FK_dbo.Contents_dbo.Writers_WriterId]
GO
ALTER TABLE [dbo].[Headings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Headings_dbo.Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Headings] CHECK CONSTRAINT [FK_dbo.Headings_dbo.Categories_CategoryId]
GO
ALTER TABLE [dbo].[Headings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Headings_dbo.Writers_WriterId] FOREIGN KEY([WriterId])
REFERENCES [dbo].[Writers] ([WriterId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Headings] CHECK CONSTRAINT [FK_dbo.Headings_dbo.Writers_WriterId]
GO
USE [master]
GO
